/* 鍵などの状態 */
table{
	width:100%;
	border:solid 1px #aaa;
	/*border-collapse:collapse;*/
}
thead{
	background:#0b0;
}
tbody tr:nth-child(1) td:nth-child(2){
	background:#00b;
}
th, td{
	border:solid 1px #aaa;
}

form{
	margin-top:1em;
	max-width:600px;
	width:90%;
	background:#938;
	padding:.2em;
}
select, option{
	outline:none;
	font-size:1em;
}
input[type="text"]{
	width:30%;
	outline:none;
}
textarea{
	width:99%;
	outline:none;
}
input[type="radio"]{
	margin-left:1em;
}
form h2{
	text-align:left;
}
button[type="submit"]{
	width:100%;
	background:#fe0;
	color:#000;
	border:solid 1px #000;
	font-size:1em;
}
button[type="submit"]:hover{
	background:#fff;
}

